<div class="col-sm-4 col-sm-offset-4">
    <h2>Login</h2>
<br />
<br />
<label>
    <h4>User Name</h4>
</label>
<input type="text" value="" class="form-control input-lg col-sm-12" />
<br />
<label>
    <h4>Password</h4>
</label>
<input type="password" value="" class="form-control input-lg col-sm-12" />
<p><a href="javascript.void()">forgot your password?</a></p>
<div class="button-top-padd clearfix"></div>        
<a href="@Url.Action("index", "Home")" class="btn btn-info btn-block">Login</a>
</div>

