@{
    ViewBag.Title = "Index";
}

<div class="actions-group">
    @Html.ActionLink("Add Chemicals", "Index", "Chemical", null, new { @class = "main-action" })
    @Html.ActionLink("Add Equipments", "Index", "Equipment", null, new { @class = "main-action" })
    @Html.ActionLink("Add Students", "Index", "Student", null, new { @class = "main-action" })
    @Html.ActionLink("Add Claims", "Index", "Claim", null, new { @class = "main-action" })
</div>
testing