@{
    ViewBag.Title = "Index";
}

<div class="actions-group">
    <a href='@Url.Action("Index", "Chemical")' class="main-action chemicals"><span class="icon-chemical padd-right"></span> Add Chemicals</a>
    <a href='@Url.Action("Index", "Equipment")' class="main-action equipments"><span class="icon-inventory padd-right"></span> Add Equipments</a>
    <a href='@Url.Action("Index", "Student")' class="main-action students"><span class="icon-student padd-right"></span> Add Students</a>
    <a href='@Url.Action("Index", "Claim")' class="main-action claims"><span class="icon-dollar padd-right"></span> Add Claims</a>
</div>